body {
    margin: 0 auto;
}

.nav {
    position: sticky;
}

.navDown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
    float: left;
}

.navDown li {
    float: right;
}

.navDown li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

        /* Change the link color to #111 (black) on hover */
.navDown li a:hover {
    background-color: #111;
}

.buttonR ,.buttonL{
    padding-top: 10%;
    width: 3%;
    height: 5%;
    position: absolute;
    padding-bottom: 14%;
    background-color: lightslategrey;
    opacity:0.0;
}

.buttonR {
    margin-left: 97%;
}

.buttonR:hover, .buttonL:hover {
    opacity:1.0;
}

.descriptionEffect {
    margin-top: 10%;
    margin-bottom: 10%;
}

.slideshow{
    width:100%;
}

.linkDown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

    .linkDown li a {
        color: white;
        text-decoration: none;
    }

.linkTitle {
    color: lightgrey;
    padding-bottom:1%;
}

.linkPage {
    width:40%;
}

.about {
    width:30%;
}

.contact {
    width:30%;
}

.about, .contact, .linkPage {
    background-color: #333;
    color: white;
    margin-bottom: 0;
    float: left;
    height:200px;
    padding-top:1%;
    padding-left:1%;
}

.login {
    float: right;
}

    .login:hover, .home:hover, .hotSales:hover, .newArrival:hover {
        opacity: 0.4;
    }

.newArrival {
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.hotSales {
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer{
    width: 100%;
}